@font-face {
	font-family: 'NotoSans-ExtraLight';
	src: url('@/assets/fonts/NotoSans-ExtraLight.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoSans-Light';
	src: url('@/assets/fonts/NotoSans-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoSans-Medium';
	src: url('@/assets/fonts/NotoSans-Medium.ttf') format('truetype');
}
@font-face {
	font-family: 'NotoSans-SemiBold';
	src: url('@/assets/fonts/NotoSans-SemiBold.ttf') format('truetype');
}

* {
	font-family: NotoSans-Medium;
}
